body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    /*font: 15px/1.5 Arial, Helvetica, sans-serif;*/
    background:white;
    margin: 0;
    padding: 0;
}

.layout{
    margin: 0;
    padding: 0;
    height: 100%;

}
.footer{
    bottom: 0px;
}
.input-search{
    line-height: 50px;
    max-width: 100%;
    float: left; 
}
.menu{
     display: inline;
     height: 100%;
     margin: 0;
     padding-right: 20px;
     float: left;
     background: none;
}
.ant-menu-item{
    border: none;
    height: 100%;
}
.header{
    z-index: 10;
    background: blueviolet;
    height: 50px;
    position: fixed;
    width: 100%;
    padding-left: 10em;
}
.img-logo{
    display: block;
    width: 34px;
    height: 34px;
    float: left;
    margin :10px 50px 10px 0;
}
.header-row{
 padding: 0 50px 0 50px;   
}
.ant-menu-item{
    margin: 0;
    text-align: center;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.sub-menu-group{
    width: 40px;
    line-height: 50px;
}
.sub-menu-group-item{
    top: 0;
    margin-top: 20px;
    width: 100px;
}
.ant-menu-horizontal > .ant-menu-item {
    height: 50px;
}
.content-related {
    background: white;
    padding-bottom: 10px;
}
.content-related h3{
    padding: 10px 0 0 15px;
}
.content {
  background: white;
  padding: 0;
  margin: 0;
}
.content-page{
    border: 1px solid #d9d9d9;
    border-top: none;
    background: white;
    min-height: 300px;
}

.sidebar-content{
    background: white;
    max-width: 270px;
    height: 300px;
}

.sidebar-content h4{
    text-align: center;
    padding: 5px 0 5px 0;
}
.pagination-content{
    padding: 10px;
    margin-top: 10px;
}
.header-content{
    padding: 10px 10px 0 10px;
    overflow: hidden;
}

.header-content h4{
    float: left;
}
.header-content from{
    float: right;
}

.div-header {
    height: 43px;
}

.header-breadcrumb{
    margin: 10px;
}
.page-2-content{
    padding: 5em;
}
.img-thumb{
    width: 320px;
    height: 400px;
    background: white;
}
.img-thumb img {
    max-width: 320px;
    max-height: 320px;
    float: left;
}
.img-author{
    border-radius: 50%;
    height: 50px;
}
.spek-product{
    max-width: 100%;
    height: 400px;
    background: white;
    padding: 10px;
}
.img-thumb div{
    width: 320px;
    height: 80px;
}
.box{
    border: 1px solid black;
    max-width: 80px;
    float: left;
}
.divider{
    border: 1px dimgrey solid;
    margin: 5px 0 5px 0;
}
.button-order{
    margin: 10px;
}
.button-order button{
    margin: 10px;
}
@media screen and (max-width: 600px){
 .header{
    z-index: 10;
    background: blueviolet;
    height: 50px;
    position: fixed;
    width: 100%;
    padding-left: 1em;
}   
}