.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 10px 5px 10px 5px;
    margin: 10px 5px 10px 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card .card-img {
    border-radius: 5px 5px 0 0;
    width: 100%;
}
.container-content {
    padding: 2px 16px;
}