.ant-menu-horizontal .ant-menu-item {
    line-height: 50px;
    /*margin-right: 10px;*/
}
.ant-menu-horizontal{

    border: none !important;
}
.ant-nav-item{
    width: 20px;
}
.ikon-menu{
    padding-right: 20px;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected{
    background: none !important;
}
div.ant-menu-submenu-title{
    height: 40px !important;
}